
<ion-tabs>
<ion-tab-bar  style="--ion-background-color:rgb(0, 0, 0)" slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon color="primary" name="home"></ion-icon>
      <ion-label style="color:white; font-size:bold">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="booking">
      <ion-icon color="primary"name="train"></ion-icon>
      <ion-label style="color:white; font-size:bold">Booking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="avail">
      <ion-icon color="primary" name="clipboard"></ion-icon>
      <ion-label style="color:white; font-size:bold">avail</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>